@inject  Microsoft.JSInterop.IJSRuntime  JSRuntime

<div class="my-component">
    This Blazor component is defined in the <strong>BlazorFabricReact</strong> package.
</div>
<div id="app"></div>

@functions{ 

    
}